.moviePage{
    background-color: #f2fcf4;
    background-image: url("https://www.transparenttextures.com/patterns/climpek.png");
    min-height: 100vh;
    padding:5rem 1rem;

    .movieImage{
        margin: 5% 5%;
        & img{
            border:2px whitesmoke solid;
            width: 80%;
        }
    }
    .movieInfo{
        margin: 5% 5%;
        
        .releaseDate{
            margin: 2rem 0;
        }

        .movieGenres{
            margin:2rem 0;

            .genreItem{
                margin:1rem 0.5rem;
            }
        }

        .movieLanguages{
            margin: 2rem 0;

            .languageItem{
                margin:1rem 0.5rem;
            }
        }

        .movieRating{
            margin:1rem 0;
        }
    }

    .movieOverview{
        margin: 5% 5%;
    }

    .movieCast{
        margin: 5% 5%;
    }
}